<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nguyen quang manh</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Nguyễn Quang Mạnh", "NqmIndex", "NqmHome", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "NqmIndex", "NqmHome", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "NqmAbout", "NqmHome", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "NqmContact", "NqmHome", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (HttpContext.Current.Session["NqmMember"] != null)
                    {
                        NqmLeson11K22cntt1.Models.NqmTaiKhoan nqmModel = (NqmLeson11K22cntt1.Models.NqmTaiKhoan)(HttpContext.Current.Session["NqmMember"]);

                        <li>
                            <a href="#" class="nav-link">Xin chào, @nqmModel.NqmFullName</a>
                            <a href="/NqmTaiKhoans/Logout" class="nav-link">Đăng xuất</a>
                        </li>
                    }
                    else
                    {
                        @*chưa đăng nhập*@
                        <li>@Html.ActionLink("Đăng nhập", "NqmLogin", "NqmTaiKhoans", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
